.head1 {
    text-align: center;
    color: darkslateblue;
}

#buttonArea {
    margin: 0 auto;
    padding: 5px;
}
body {
    background-color: #bbbdcd;
}

button {
    background-color: darkslateblue;
    padding: 5px 5px 5px 5px;
    margin: 5px;
}

.genre-button-color {
    color: #fafcfc;
}

#form {
    color: darkslateblue;
}

.submitty {
    background-color: #212122;
    color: #fafcfc;
}

.panel-title {
    text-align: center;
    color: darkslateblue;
}

img {
    border: solid 3px darkslateblue;
}